<!DOCTYPE html>
<html>
<head>
  <title>Scaffoldtest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="hero">

<!-- ////////////////Inserting nav bar here ////////////////////////////-->

      <header class="navigation">
        <div class="navigation-wrapper">
          <a href="javascript:void(0)" class="logo">
            <%= image_tag "logo.png" %>
          </a>
          <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
          <div class="nav">
            <ul id="navigation-menu">
              <li class="nav-link"><a href="javascript:void(0)">SURF & PADDLE CO. BLOG</a></li>
            </ul>
          </div>
          <div class="navigation-tools">
            <div class="search-bar">
              <div class="search-and-submit">
                <!-- <input type="search" placeholder="About Search" /> -->
                <button type="submit">
                  <p>About Search<%= image_tag "search.png" %></p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </header>


<!-- ////////////////End inserting nav bar here ////////////////////////////-->

 <div class="hero-inner">
		<div class="hero-copy">
			<h1>SURF & PADDLE CO.</h1>
			<p>An Ironyard Academy Project Est. Fall 2014</p>
		</div>
    <!-- <button>Learn More</button> -->
	</div>
</div>








<%= yield %>





<div class="intro-text">
  <h2>MOST POPULAR POSTS</h2>
</div>




<!-- /////////////////////////Quad Grid Section///////////////////////////// -->

<div class="grid-items-lines">
  <a href="/articles/1" class="grid-item" style="background: url(<%= image_path("Acejack.jpg") %>); background-size: cover">
    <div class="overlay"></div>
    <h1>BlackJack!</h1>
  </a>
  <a href="/articles/2" class="grid-item" style="background: url(<%= image_path("Hipster.jpg") %>); background-size: cover">
    <div class="overlay"></div>
    <h1>HipsterLevelFinalBoss</h1>
  </a>
  <a href="/articles/3" class="grid-item" style="background: url(<%= image_path("Sitting.jpg") %>); background-size: cover">
    <div class="overlay"></div>
    <h1>The Life</h1>
  </a>
  <a href="/articles/4" class="grid-item" style="background: url(<%= image_path("House.jpg") %>); background-size: cover">
    <div class="overlay"></div>
    <h1>Hollanda</h1>
  </a>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>




<footer class="footer-2">
  <div class="footer-logo">
    <%= image_tag "theironyard.png" %>
  </div>
    <ul>
      <li><a href="javascript:void(0)">The Iron Yard Copyright 2013, All Rights Reserved</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Nav Item 1</a></li>
        <li><a href="javascript:void(0)">Nav Item 2</a></li>
        <li><a href="javascript:void(0)">Nav Item 3</a></li>
        <li><a href="javascript:void(0)">Nav Item 5</a></li>
      </ul>
    </div>
</footer>





</body>
</html>
